server:
  port: 8080

spring:
  profiles:
    active: "dev"
  datasource:
    username: postgres
    password: postgres
  docker:
    compose:
      enabled: false
  jackson:
    serialization:
      fail-on-empty-beans: false
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    org.springframework.security: DEBUG

keySetURI: http://localhost:8080/oauth2/jwks

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger.html
