server:
  port: 8080

spring:
  profiles:
    active: "dev"
  datasource:
    username: postgres
    password: postgres
  docker:
    compose:
      enabled: false
  jackson:
    serialization:
      fail-on-empty-beans: false

logging:
  level:
    org.springframework.security: DEBUG
#    org.springframework.security.web.access.access: DEBUG
#    org.springframework.security.web.access.authentication: DEBUG
