stages:
  - build
  - test

build_api:
  image: gradle:9.2.1-jdk25-alpine
  stage: build
  script:
   - cd art-site-and-store-api
   - chmod +x gradlew
   - ./gradlew clean
   - ./gradlew build

