stages:
  - build
  - test

build_api:
  image: gradle:8.14.3-alpine
  stage: build
  script:
   - cd art-site-and-store-api
   - chmod +x gradlew
   - ./gradlew clean
   - ./gradlew build

