.carousel-container {
  display: flex;
  width: 100%;
  height: 90vh;
}

.left-arrow-button {
  margin-left: 5%;
  width: 6%;
  align-self: center;
  background-color: transparent;
  border: none;
}

.right-arrow-button {
  margin-right: 6%;
  width: 6%;
  align-self: center;
  background-color: transparent;
  border: none;
}

.carousel-container > button:hover {
  cursor: pointer;
}

.images-container {
  display: flex;
  align-self: center;
  height: 85%;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  width: 74%;
  gap: 20px;
  margin-left: 32px;
  margin-right: 32px;
}



