.about-me-section {
  display: flex;
  height: 90vh;
  justify-content: flex-start;
  flex-direction: column;
}

.about-me-header {
  display: flex;
  height: 10vh;
  width: 60%;
  align-self: flex-end;
  background-color: #f1dfc1;
}

.about-me-inscription-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.about-me-inscription {
  font-family: 'Gliker-Regular', sans-serif;
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #3f1d02;
}

.about-me-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5%;
}

.about-me-frame-container {
  width: 45%;
  height: 80%;
  overflow: hidden;
  margin-left: 10%;
  margin-top: 5%;
}

.about-me-text-area-container {
  width: 45%;
  height: 80%;
  margin-right: 5%;
  margin-top: 5%;
}

.about-me-text-area {
  resize: none;
  width: 100%;
  height: 100%;
}

