.hamburger-container {
  position: fixed;
  /*display: none;*/
  background-color: #f1dfc1;
  height: 40%;
  width: 20%;
  z-index: 1;
}

.menu-options-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  gap: 2%;
}

.menu-options-container > button {
  background-color: transparent;
  border: none;
  font-family: 'Gliker-Regular', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #3f1d02;
}
