.carousel-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}
.carousel-crud-buttons-container {
  display: flex;
  align-self: flex-end;
  margin-right: 300px;
  width: 80px;
  height: 40px;
}

.carousel-crud-buttons-container > button {
  margin-top: 4px;
  background-color: transparent;
  border: none;
}

.add-button-file-explorer {
  border: none;
}

.add-button-image {
  margin-top: 2px;
}

.remove-button-image {
  height: 38px;
}

.carousel-container {
  display: flex;
  width: 100%;
  height: 90vh;
}

.left-arrow-button {
  margin-left: 5%;
  margin-bottom: 10%;
  width: 6%;
  align-self: center;
  background-color: transparent;
  border: none;
}

.right-arrow-button {
  margin-right: 6%;
  margin-bottom: 10%;
  width: 6%;
  background-color: transparent;
  border: none;
}

.carousel-container > button:hover {
  cursor: pointer;
}

.images-container {
  display: flex;
  height: 85%;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  width: 74%;
  gap: 20px;
  margin-left: 32px;
  margin-right: 32px;
  background-color: white;
}



