.login-form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #FFCE8A;
  background: linear-gradient(90deg, rgba(255, 206, 138, 1) 0%, rgba(255, 128, 128, 1) 50%, rgba(255, 206, 138, 1) 100%);
}

.login-label {
  margin-top: 7rem;
  font-size: 3.5rem;
  color: white;
}

.login-username {
  width: 16rem;
  height: 2rem;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  text-indent: 0.5rem;
  padding: 0 0 0 0;
}

.login-password {
  width: 16rem;
  height: 2rem;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  text-indent: 0.5rem;
  padding: 0 0 0 0;
}

.login-password:focus, .login-username:focus {
  outline: none;
}

.login-button {
  width: 16rem;
  height: 2rem;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  border-radius: 2px;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
