.portfolio-section {
  display: flex;
  height: 90vh;
  justify-content: flex-start;
  flex-direction: column;
}

.portfolio-header {
  display: flex;
  height: 10vh;
  width: 60%;
  background-color: #f1dfc1;
}

.portfolio-inscription-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.portfolio-inscription {
  font-family: 'Gliker-Regular', sans-serif;
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #3f1d02;
}

.illustrations-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.illustrations-relocate-button {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 40%;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.illustrations-relocate-button:hover, .illustration-label:hover {
  cursor: pointer;
}

.illustration-image {
  height: 80%;
  width: 60%;
}

.illustration-label {
  width: 60%;
  background-color: #f1dfc1;
  font-family: 'Gliker-Regular', sans-serif;
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #3f1d02;
  text-align: center;
}


