.item-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.item-header {
  top: 0;
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #f1dfc1;
  flex-wrap: nowrap;
  justify-content: flex-start;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.item-section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.item-image-container {
  width: 45%;
  height: 90%;
  border: solid black;
  background-color: white;
}

.desc-and-price-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 90%;
  gap: 5rem;
}

.item-description {
  width: 100%;
  height: 50%;
  resize: none;
}

.item-price-label {
  border: none;
  font-size: 32px;
}

.item-price {
  border: none;
  font-size: 32px;
}


