.contact-section {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.contact-header {
  display: flex;
  height: 10vh;
  width: 60%;
  background-color: #f1dfc1;
}

.contact-inscription-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-inscription {
  font-family: 'Gliker-Regular', sans-serif;
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #3f1d02;
}
