.contact-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  display: flex;
  height: 10vh;
  width: 60%;
  background-color: #f1dfc1;
}

.contact-inscription-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-inscription {
  font-family: 'Gliker-Regular', sans-serif;
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #3f1d02;
}

.form-label {

}

.contact-form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-label {
  align-self: flex-start;
}
.fullname-container {
  width: 100%;
  height: 5%;
  flex-wrap: nowrap;
}

.name, .surname {
  width: 48%;
}

.email-address {
  height: 5%;
  width: 100%;
}

.message-text {
  width: 100%;
  height: 40%;
}


.form-button {
  align-self: flex-start;
  background-color: cadetblue;
  border: none;
  border-radius: 3px;

}
