.carousel-container {
  display: flex;
  width: 100%;
  height: 80vh;
}

.left-arrow-button {
  width: 10%;
  align-self: center;
}

.right-arrow-button {
  width: 10%;
  align-self: center;
}

.images-container {
  display: flex;
  align-self: center;
  height: 85%;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}



